html, body {
	overflow-x: hidden;
}

body {
	background-color: #cc2027;
	margin: 0;
	
	font-family: source-sans-pro,sans-serif;
	font-weight: 900;
	font-style: normal;
	
	color: #ede3d9;
	letter-spacing: 2px;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	margin: 10vh 0 4vh 0;
}

h3 {
	margin: 10vh 0 4vh 0;
}

strong {
	color: #fcb515;
}

a {
	color: #ede3d9;
	text-decoration: none;
}

a:hover {
	color: #fcb515;
}

p {
	margin: 5vh 0 5vh 0;
}

i {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}


/* Language Button */
.language_wrapper {
	position: fixed;
	top: 6%;
	right: 5%;
	transition: transform .6s;
}
.language_wrapper:hover {
	transform: scale(1.1);
}


/* Socials */
.social_wrapper {
	height: 100%;
	position: fixed;
	top: 6%;
	left: 5%;
	transition: transform .6s;
}
.social_wrapper:hover {
	/*transform: scale(1.2);*/
}


/* Image */
.page_wrapper {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#logo {
    width: 45vw;
	margin-top: 10vh;
}
@media screen and (max-width: 600px) {
  #logo {
    width: 75vw;
  }
}

#bottle {
	width: 40vw;
}


/* Arrow */
#titleArrowDown {
	font-size: 40px;
	transition: transform .4s;
}

#titleArrowDown:hover {
	transform: scale(1.2);
}


/* Text */
#info {
	padding-top: 15vh;
}
