/* CSS Document */

@font-face {
	font-family: "Funkturm";
	src: url('../fonts/funkturm.ttf')  format('truetype'); /* Safari, Android, iOS */
}


html, body {
	overflow-x: hidden;
}

body {
	background-color: #CD2128;
	margin: 0;
	font-family: "Funkturm";
	color: #EEE4D9;
	font-weight: 100 !important;
	letter-spacing: 2px;
	line-height: 20px;
	text-align: center;
}

h2, h3 {
	font-weight: 100;
	margin: 10vh 0 4vh 0;
}

strong {
	font-weight: 100;
	color: #fdb614;
}

a {
	color: #EEE4D9;
	text-decoration: none;
}

a:hover {
	color: #a8a8a8;
}

p {
	margin: 5vh 0 5vh 0;
}

/* Language Button */
.language_wrapper {
	position: fixed;
	top: 6%;
	right: 5%;
	transition: transform .6s;
}
.language_wrapper:hover {
	transform: scale(1.1);
}


/* Socials */
.social_wrapper {
	position: fixed;
	top: 6%;
	left: 5%;
	transition: transform .6s;
}
.social_wrapper:hover {
	transform: scale(1.2);
}


/* Image */
.page_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
img {
    width: 35vw;
	margin-top: 10vh;
}

@media screen and (max-width: 1000px) {   
    img{
    	width: 65vw;
    } 
}

@media screen and (max-width: 550px) {
	.title_wrapper, .info_wrapper {
		visibility: hidden;
	}
    img {
    	width: 55vw;
    } 
}

/* Arrow */
#titleArrowDown {
	font-size: 40px;
	transition: transform .4s;
}

#titleArrowDown:hover {
	transform: scale(1.2);
}

/* Text */
#info {
	margin-top: 15vh;
}

