/* CSS Document */

@font-face {
  font-family: 'kurbanistika';
  src: url('../fonts/kurbanistika.ttf')  format('truetype'); /* Safari, Android, iOS */
}


body {
	background-color: #CD2128;
	margin: 0;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
	box-sizing: content-box;
}

a {
	color: #EEE4D9;
	text-decoration: none;
}

a:hover {
	color: #a8a8a8;
}

button {
  background-color: transparent;
	border: none;
}


/* Language Buttons */
.nav_wrapper_de {
	position: fixed;
	top: 5%;
	left: 5%;
	font-size: 20px;
}
.nav_wrapper_de_clickable {
	position: fixed;
	top: 5%;
	left: 5%;
	transition: transform .4s;
}
.nav_wrapper_ru {
	position: fixed;
	top: 6%;
	right: 5%;
}
.nav_wrapper_ru_clickable {
	position: fixed;
	top: 6%;
	right: 5%;
	transition: transform .4s;
}
.nav_wrapper_de_clickable:hover, .nav_wrapper_ru_clickable:hover {
	transform: scale(1.2);
}
.language_active {
	color: #a8a8a8;
}
/* Language Buttons */


/* Socials */
.social_wrapper {
	position: fixed;
	left: 5%;
	bottom: 6%;
}

/* Socials */


/* Image */
.page_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

img {
  width: 45vw;
  transform: translate(0, -10%);
}

@media screen and (max-width: 1000px) {   
    img{
    	width: 65vw;
    } 
}

@media screen and (max-width: 550px) {   
    img{
    	width: 55vw;
    } 
}
/* Image */

/* Info Text */
.title_wrapper {
	position: fixed;
	top: 3%;
	right: 50%;
	transform: translate(50%, 0);
	color: #EBE4D9;
	text-align: center;
}

.info_wrapper {
	position: fixed;
	bottom: 21%;
	right: 50%;
	transform: translate(50%, 0);
	color: #EBE4D9;
	text-align: center;
}

.title_wrapper>h2 {
	font-size: 42px;
}

.info_wrapper>p {
	font-size: 18px;
	font-weight: 700;
}

@media screen and (max-width: 550px) {   
    .title_wrapper>h2 {
		font-size: 26px;
	}
	.info_wrapper>p {
		font-size: 14px;
	}
}/* Info Text */


/* Order Button */
.order_wrapper {
	position: fixed;
	bottom: 12%;
	right: 50%;
	transform: translate(45%, 20%);
}


ul {
    padding: 0;
    list-style-type: none;
}

li {
    width: 10rem;
    height: 4rem;
    font-size: 14px;
	font-weight: 700;
    text-align: center;
    line-height: 4rem;
    font-family: sans-serif;
    letter-spacing: 2px;
    position: relative;
    transition: 0.3s;
	border: 3px solid #262626;
	box-sizing: content-box;
	background-color: #EBE4D9;
}

li>a {
	color: #262626;
}

li::before, li::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    transition: 0.3s;
}

li::before {
    background-color: #EBE4D9;
    z-index: -1;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

li::after {
    background-color: #FDB515;
    transform: translate(1rem, 1rem);
    z-index: -2;
	border: 3px solid #262626;
}

li:hover {
    transform: translate(1rem, 1rem);
    color: #EBE4D9;
	background-color: #EBE4D9;
}


li:hover::before {
    background-color: #FDB515;
}

li:hover::after {
    background-color: #EBE4D9;
    transform: translate(-1rem, -1rem);
}
/* Order Button */


/* Modal */ 
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.iframe_wrapper {
	justify-content: center;
}
